<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/customerCSS.css}"/>
    <title>Title</title>
</head>
<body>
<h1>Customer List</h1>
<br/> <br/><br/>


    <table border="1" id="tableCust1">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>discount</th>
        </tr>

    </table>


</body>
</html>
